* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.center-text {
  text-align: center;
}
.bold-text {
  font-weight: 700;
}
.visualContainer {
  height: 100vh;
}
.modelContainer {
  width: 100%;
  height: 100vh;
}
.colorChoiceContainer {
  width: 20%;
  color: black;
  box-shadow: 0 6px 12px 0 grey;
  padding: 2em;
  height: 10vh;
}
label {
  margin: 1em;
}
