* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.center-text {
  text-align: center;
}
.bold-text {
  font-weight: 700;
}
.visualContainer {
  height: 100vh;
  display: flex;
}
.modelContainer {
  width: 75%;
  height: 100vh;
}
.colorChoiceContainer {
  width: 25%;
  padding: 2em;
  height: 100vh;
}
label {
  margin: 1em;
}
.colorpicker {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid lightgray;
}
.colorinput {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.modelsImage {
  object-fit: contain;
}
.carmodelContainer {
  border: 1px solid lightgray;
  margin: 1em 0;
  cursor: pointer;
}
.colorPickerContainer {
  padding: 0 1em;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.carmodelContainer:hover {
  border: 1px solid dodgerblue;
  box-shadow: 0 0 6px dodgerblue;
}
.create-order {
  width: 100%;
  margin: 2em 1em;
  padding: 0.5em;
  background-color: dodgerblue;
  color: white;
  border: none;
  outline: none;
  border-radius: 8px;
}
